<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="mailto:himanshigoel2409@gmail.com" ><i class="fa-regular fa-envelope"></i></a>
            <a href="https://www.instagram.com/himanshigoel22/"> <i class="fa-brands fa-square-instagram"></i> </a> 
            <a href="www.linkedin.com/in/himanshi-goel22"><i class="fa-brands fa-linkedin-in"></i></a> 
        </div>
        <div class="f-info-brand"> &copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/private"> Private </a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>