
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-solid fa-plane-departure"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listing">Explore</a>
        </div>
       </div>
      <div  class="navbar-nav  ms-auto">
        <form class="d-flex nav-form" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations">
          <button class="btn btn-search" type="submit">
            Search</button>
        </form>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/listing/new">Add your listing</a>
            <% if(!currUser) { %>
              <a class="nav-link " aria-current="page" href="/signUp"><b>SignUp</b></a>
              <a class="nav-link" href="/logIn"><b>LogIn</b></a>
            <% } %>
            <% if(currUser) { %>
            <a class="nav-link" href="/logOut"><b>LogOut</b></a>
            <% } %>
          </div>
      </div>
   
  </nav>