<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-solid fa-plane-departure"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav menu">
              <a class="nav-link" href="/listing">Explore</a>
          </div>
          <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                     
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" role="switch">
                    Display total taxes
                </label>
            </div>
        </div>  
          <div class="search-bar ms-auto">
              <form class="d-flex nav-form" role="search" action="/listing/search" method="GET">
                  <input class="form-control me-2 search-inp"
                      name="searchQuery"
                      type="search"
                      placeholder="Search places">
                  <button class="btn btn-search" type="submit">Search</button>
              </form>
          </div>
          <div class="navbar-nav ms-auto">
              <a class="nav-link" href="/listing/new">Add new listing</a>
              <% if(!currUser) { %>
                  <a class="nav-link" href="/signUp"><b>SignUp</b></a>
                  <a class="nav-link" href="/logIn"><b>LogIn</b></a>
              <% } %>
              <% if(currUser) { %>
                  <a class="nav-link" href="/logOut"><b>LogOut</b></a>
              <% } %>
          </div>
      </div>
  </div>
</nav>

