<% layout("layouts/boilerplate") -%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">   
        <h2>Send Enquiry</h2>
        <br>
        <form method="POST" 
        action="/listing/send-enquiry" 
        class="needs-validation" novalidate
        enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="name" name="senderName" placeholder="Enter your name" required>
                <div class="invalid-feedback">
                    Enter a valid name
                 </div>
            </div>
           
            <div class="mb-3">
                <label for="email" class="form-label">Your Email</label>
                <input type="email" class="form-control" id="email" name="senderEmail" placeholder="Enter your email" required>
                <div class="invalid-feedback">
                    Enter a valid email
                 </div>
            </div>
    
            <div class="mb-3">
                <label for="stayDates" class="form-label">From</label>
                <input type="date" class="form-control" id="stayDates" name="stayDates" required>
                <div class="invalid-feedback">
                    Dates are required
                 </div>
            </div>
            
            <div class="mb-3">
                <label for="stayDates" class="form-label">To</label>
                <input type="date" class="form-control" id="stayDates" name="stayDates" required>
                <div class="invalid-feedback">
                    Dates are required
                 </div>
            </div>
    
            <div class="mb-3">
                <label for="message" class="form-label">Your message</label>
                <textarea class="form-control" id="message" name="message" placeholder="Enter your message" required></textarea>
                <div class="invalid-feedback">
                    Enter a short message
                 </div>
            </div>
    
            <button type="submit" class="btn btn-dark edit-btn mt-3">Send Enquiry</button>
            <br><br><br><br>
        </form>
    </div>
    </div>
    
</body>

